# Visual Studio excluded files
obj/
*.suo

# build folder
bin/

.project

publish.bat

*.csproj.user

# NuGet Packages Directory
packages/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/

# Test results produced by build
TestResults.xml

# Nuget outputs
nuget/*.nupkg