# Visual Studio excluded files
obj/
*.suo

# build folder
bin/

publish.bat

.fake/

*.user

# NuGet Packages Directory
packages/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/

# Test results produced by build
TestResults.xml

# Nuget outputs
nuget/*.nupkg
nuget/*.nuspec

.project

**/_Resharper.*/**
